I will be showing an example of how to obtain Data about a stock for our analysis. In this example we will be using an API called Alpha Vantage in order to do this.

Alpha Vantage queries can return either a JSON response or a CVS (Comma Seperate Values) response. For the purpose of reading the data using the PANDAS library from python we will be using the CVS format.

The instructions on how to format the queries can be found [here](https://www.alphavantage.co/documentation/).

An example of a query: https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol=MSFT&apikey=demo&datatype=csv

Following this link will download the appropriate CSV file with the desired data.

In [24]:
import pandas
from IPython.display import display # display is used to display the dataframe
stock_data = pandas.read_csv("example.csv") # parses the CSV file into a dataframe
display(stock_data.head(10)) # displays the first 10 rows

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
0,2018-01-29,86.125,95.4500,85.50,93.92,93.9200,466070169,0.00
1,2017-12-29,83.600,87.4999,80.70,85.54,85.5400,447828256,0.00
2,2017-11-30,83.680,85.0600,82.24,84.17,84.1700,416152260,0.42
3,2017-10-31,74.710,86.2000,73.71,83.18,82.7611,440510118,0.00
4,2017-09-29,74.710,75.9700,72.92,74.49,74.1149,367134396,0.00
5,2017-08-31,73.100,74.9600,71.28,74.77,74.3935,429156682,0.39
6,2017-07-31,69.330,74.4200,68.02,72.70,71.9506,451248934,0.00
7,2017-06-30,70.240,72.8900,68.09,68.93,68.2195,610120893,0.00
8,2017-05-31,68.680,70.7400,67.14,69.84,69.1201,505249296,0.39
9,2017-04-28,65.810,69.1400,64.85,68.46,67.3758,428857613,0.00

As you can see the time period, prices, volume, and dividends are provided.

Alpha Vantage provies other technical indicators, though they are in a JSON formart. JSON can be converted into CSV with the use of other programs.

I don't know if the data we need is included in the technical indicators but if they are then this should be all we need to acquire our data for the time being.